In [96]:
import pandas as pd

In [97]:
df=pd.read_csv('/content/train.csv')
print(df)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

In [98]:
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [99]:
y=df['price_range']#target

In [100]:
x=df[['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi']]#features

In [101]:
#min max scaling:
from sklearn.preprocessing import MinMaxScaler

In [41]:
x.head(2)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0

In [102]:
scalar=MinMaxScaler()#normalized
scalar.fit(x)
x_scaled=scalar.transform(x)
print(x_scaled)

[[0.22778891 0.         0.68       ... 0.         0.         1.        ]
 [0.34736139 1.         0.         ... 1.         1.         0.        ]
 [0.04141617 1.         0.         ... 1.         1.         0.        ]
 ...
 [0.94188377 0.         0.16       ... 1.         1.         0.        ]
 [0.6753507  0.         0.16       ... 1.         1.         1.        ]
 [0.00601202 1.         0.6        ... 1.         1.         1.        ]]

In [103]:
from sklearn.model_selection import train_test_split
x=df.drop('price_range',axis=1)
y=df['price_range']
x_scaled_train, x_scaled_test, y_train, y_test = train_test_split(
    x, y,test_size=0.2,random_state=10)

In [104]:
#chceking the shape of orginal data
df.shape

(2000, 21)

In [105]:
#shape of traing and testing data
print(x_scaled_train.shape)
print(x_scaled_test.shape)
print(y_train.shape)
print(y_test.shape)

(1600, 20)
(400, 20)
(1600,)
(400,)

In [106]:
col=df.columns
for i in col:
  print(df[i])

0        842
1       1021
2        563
3        615
4       1821
        ...
1995     794
1996    1965
1997    1911
1998    1512
1999     510
Name: battery_power, Length: 2000, dtype: int64
0       0
1       1
2       1
3       1
4       1
       ..
1995    1
1996    1
1997    0
1998    0
1999    1
Name: blue, Length: 2000, dtype: int64
0       2.2
1       0.5
2       0.5
3       2.5
4       1.2
       ...
1995    0.5
1996    2.6
1997    0.9
1998    0.9
1999    2.0
Name: clock_speed, Length: 2000, dtype: float64
0       0
1       1
2       1
3       0
4       0
       ..
1995    1
1996    1
1997    1
1998    0
1999    1
Name: dual_sim, Length: 2000, dtype: int64
0        1
1        0
2        2
3        0
4       13
        ..
1995     0
1996     0
1997     1
1998     4
1999     5
Name: fc, Length: 2000, dtype: int64
0       0
1       1
2       1
3       0
4       1
       ..
1995    1
1996    0
1997    1
1998    1
1999    1
Name: four_g, Length: 2000, dtype: int64
0        7
1       53
2       41
3       10
4       44
        ..
1995     2
1996    39
1997    36
1998    46
1999    45
Name: int_memory, Length: 2000, dtype: int64
0       0.6
1       0.7
2       0.9
3       0.8
4       0.6
       ...
1995    0.8
1996    0.2
1997    0.7
1998    0.1
1999    0.9
Name: m_dep, Length: 2000, dtype: float64
0       188
1       136
2       145
3       131
4       141
       ...
1995    106
1996    187
1997    108
1998    145
1999    168
Name: mobile_wt, Length: 2000, dtype: int64
0       2
1       3
2       5
3       6
4       2
       ..
1995    6
1996    4
1997    8
1998    5
1999    6
Name: n_cores, Length: 2000, dtype: int64
0        2
1        6
2        6
3        9
4       14
        ..
1995    14
1996     3
1997     3
1998     5
1999    16
Name: pc, Length: 2000, dtype: int64
0         20
1        905
2       1263
3       1216
4       1208
        ...
1995    1222
1996     915
1997     868
1998     336
1999     483
Name: px_height, Length: 2000, dtype: int64
0        756
1       1988
2       1716
3       1786
4       1212
        ...
1995    1890
1996    1965
1997    1632
1998     670
1999     754
Name: px_width, Length: 2000, dtype: int64
0       2549
1       2631
2       2603
3       2769
4       1411
        ...
1995     668
1996    2032
1997    3057
1998     869
1999    3919
Name: ram, Length: 2000, dtype: int64
0        9
1       17
2       11
3       16
4        8
        ..
1995    13
1996    11
1997     9
1998    18
1999    19
Name: sc_h, Length: 2000, dtype: int64
0        7
1        3
2        2
3        8
4        2
        ..
1995     4
1996    10
1997     1
1998    10
1999     4
Name: sc_w, Length: 2000, dtype: int64
0       19
1        7
2        9
3       11
4       15
        ..
1995    19
1996    16
1997     5
1998    19
1999     2
Name: talk_time, Length: 2000, dtype: int64
0       0
1       1
2       1
3       1
4       1
       ..
1995    1
1996    1
1997    1
1998    1
1999    1
Name: three_g, Length: 2000, dtype: int64
0       0
1       1
2       1
3       0
4       1
       ..
1995    1
1996    1
1997    1
1998    1
1999    1
Name: touch_screen, Length: 2000, dtype: int64
0       1
1       0
2       0
3       0
4       0
       ..
1995    0
1996    1
1997    0
1998    1
1999    1
Name: wifi, Length: 2000, dtype: int64
0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [107]:
import pandas as pd

In [108]:
df=pd.read_csv('/content/heart.csv')
print(df)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0        0   0     1       1
1        0   0     2       1
2        2   0     2       1
3        2   0     2       1
4        2   0     2       1
..     ...  ..   ...     ...
298      1   0     3       0
299      1   0     3       0
300      1   2     3       0
301      1   1     3       0
302      1   1     2       0

[303 rows x 14 columns]

In [109]:
df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [110]:
y=df['target']#target

In [111]:
x=df[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal']]#features

In [112]:
#min max scaling:
from sklearn.preprocessing import MinMaxScaler

In [113]:
scalar=MinMaxScaler()#normalized
scalar.fit(x)
x_scaled=scalar.transform(x)
print(x_scaled)

[[0.70833333 1.         1.         ... 0.         0.         0.33333333]
 [0.16666667 1.         0.66666667 ... 0.         0.         0.66666667]
 [0.25       0.         0.33333333 ... 1.         0.         0.66666667]
 ...
 [0.8125     1.         0.         ... 0.5        0.5        1.        ]
 [0.58333333 1.         0.         ... 0.5        0.25       1.        ]
 [0.58333333 0.         0.33333333 ... 0.5        0.25       0.66666667]]

In [114]:
from sklearn.model_selection import train_test_split
x=df.drop('target',axis=1)
y=df['target']
x_scaled_train, x_scaled_test, y_train, y_test = train_test_split(
    x, y,test_size=0.2,random_state=10)

In [115]:
#chceking the shape of orginal data
df.shape

(303, 14)

In [116]:
#shape of traing and testing data
print(x_scaled_train.shape)
print(x_scaled_test.shape)
print(y_train.shape)
print(y_test.shape)

(242, 13)
(61, 13)
(242,)
(61,)

In [117]:
col=df.columns
for i in col:
  print(df[i])

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64
0      1
1      1
2      0
3      1
4      0
      ..
298    0
299    1
300    1
301    1
302    0
Name: sex, Length: 303, dtype: int64
0      3
1      2
2      1
3      1
4      0
      ..
298    0
299    3
300    0
301    0
302    1
Name: cp, Length: 303, dtype: int64
0      145
1      130
2      130
3      120
4      120
      ...
298    140
299    110
300    144
301    130
302    130
Name: trestbps, Length: 303, dtype: int64
0      233
1      250
2      204
3      236
4      354
      ...
298    241
299    264
300    193
301    131
302    236
Name: chol, Length: 303, dtype: int64
0      1
1      0
2      0
3      0
4      0
      ..
298    0
299    0
300    1
301    0
302    0
Name: fbs, Length: 303, dtype: int64
0      0
1      1
2      0
3      1
4      1
      ..
298    1
299    1
300    1
301    1
302    0
Name: restecg, Length: 303, dtype: int64
0      150
1      187
2      172
3      178
4      163
      ...
298    123
299    132
300    141
301    115
302    174
Name: thalach, Length: 303, dtype: int64
0      0
1      0
2      0
3      0
4      1
      ..
298    1
299    0
300    0
301    1
302    0
Name: exang, Length: 303, dtype: int64
0      2.3
1      3.5
2      1.4
3      0.8
4      0.6
      ...
298    0.2
299    1.2
300    3.4
301    1.2
302    0.0
Name: oldpeak, Length: 303, dtype: float64
0      0
1      0
2      2
3      2
4      2
      ..
298    1
299    1
300    1
301    1
302    1
Name: slope, Length: 303, dtype: int64
0      0
1      0
2      0
3      0
4      0
      ..
298    0
299    0
300    2
301    1
302    1
Name: ca, Length: 303, dtype: int64
0      1
1      2
2      2
3      2
4      2
      ..
298    3
299    3
300    3
301    3
302    2
Name: thal, Length: 303, dtype: int64
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [118]:
import random
y_p=[]
def perceptron(weights,bias):
    for i in range(len(x_scaled_test)):
        z = np.dot(weights,x_scaled_test.iloc[i]) + bias
        s = 1 / (1 + np.exp(-z))
        if s>=0.5:
          y_p.append(1)
        else:
          y_p.append(0)
    return y_p

# Initialize random weights and bias
random.seed(42)  # For reproducibility
weights = [random.uniform(-1, 1) for _ in range(len(x_scaled_test.columns))]
bias = random.uniform(-1, 1)
y_p = perceptron(weights,bias)
print(y_p)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [119]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test,y_p)
print("Accuracy",accuracy)

Accuracy 0.5573770491803278